.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weather-container {
  
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home {
  margin: 0;
  padding: 0;
  
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}
.products {
  
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.contact {
  margin-top: 50px;
  padding-bottom: 60px;
  /* background-image: url(images/ionic1.jpg); */
}
.contact-container {
  display: flex;
  justify-content: center;
}
.contact-content {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
input {
  margin-bottom: 30px;
  width: 100%;
}
input,
textarea {
  border-radius: 10px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: #eee;
  color: var(--title-color);
  font-size: 16px;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 5px #a8bbe0;
}
.contact-content .btn {
  width: 185px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

@media screen and (max-width: 576px) {
  .contact-content {
    padding: 0;
  }
  .inputs {
    flex-direction: column;
  }
}